<% @page_title =  "Acesso negado" %>

<style type="text/css">
	small
	{
		font-size: 9px;		
	}
</style>

<div class="container" align="center">
	<div class="page-header">
		<h1>Acesso não permitido</h1>
	</div>

	<p id="notice">		
		<h3 class="text-center">Alto lá, <strong><%= current_user.name %></strong></h3>	
		<br>
		<div class="row">
			<div class="col-lg-6 col-md-8 col-sm-8 col-xs-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
				Você está tentando acessar uma área restrita que contém segredos valiosíssimos e que não devem ser vistos por ninguém.							
			</div>				
		</div>	
		<div class="row">			
			<div class="col-lg-6 col-md-8 col-sm-8 col-xs-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">			
				<%= image_tag("access-denied.png", class: 'img-responsive') %>
			</div>
		</div>	
		<small>Essa página contém muito ironia. Por favor, leve na esportiva.</small>		
	</p>
</div>