<% @page_title =  @user.name + " - Edição de usuário"%>

<div class="container">
	<div class="page-header" align="center">
	    <h1>Gerenciamento de usuários<br><small>Edite dados do usuário</small></h1>
	</div>

<%= render 'form', user: @user %>

</div>