<% @page_title =  "Usuário inativo" %>

<div class="container">
	<div class="page-header" align="center">
		<h1>Usuário inativo</h1>
	</div>

	<p id="notice" class="text-center">		
		Olá, <%= current_user.name %>.<br>
		Seu usuário está inativo e sem permissão para usar o sistema.<br>
		Solicite a um administrador a liberação de seu acesso.
	</p>
</div>