<% @page_title =  "Cadastro de usuários" %>

<div class="container">
	<div class="page-header" align="center">
	    <h1>Gerenciamento de usuários<br><small>Cadastre o usuário</small></h1>
	</div>
	
<%= render 'form', user: @user %>

</div>
