<% @page_title =  "Cadastro de músicas" %>

<div class="container">
	<div class="page-header" align="center">
	    <h1>Gerenciamento de músicas<br><small>Cadastre uma nova música</small></h1>
	</div>
<%= render 'form', song: @song %>

</div>
