<% @page_title =  "Cadastro de comanda" %>

<div class="container">
	<div class="page-header" align="center">
	    <h1>Gerenciamento de comandas<br><small>Cadastre uma nova comanda</small></h1>
	</div>

	<p id="notice"><%= notice %></p>

	<%= render 'form', order: @order %>

</div>
