<div class="container">
	<div class="page-header" align="center">
	    <h1>Gerenciamento de opções<br><small>Cadastre seus pratos e bebidas</small></h1>
	</div>

<%= render 'form', product_category: @product_category %>

</div>
