<% @page_title =  @product_category.name + " - Edição"%>

<div class="container">
	<div class="page-header" align="center">
	    <h1>Gerenciamento de categorias<br><small>Cadastre as categorias de seus produtos</small></h1>
	</div>

<%= render 'form', product_category: @product_category %>

</div>
