html, body
{
    height: 100%;
}

body
{    
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

form { max-width: 300px; }
input { margin-top: 3px; }

.new
{
    color: #ffa61a;
    font-size: 14px;
    font-weight: 700;
    margin: 2px;
}

footer hr
{
    border-top: 0px;
    margin-top: auto;
}

.devise-links
{
    padding: 1em 0;
    text-align: right;
}