.food-menu
{
	margin-top: 1em;
	text-align: center;
}

.food-menu .item a
{
	background-color: #fff;
	color: #bc821d;
	font-size: 1.3em;
	padding: 0.5em 1.5em;
	border: 1px solid #bc821d;
	text-decoration: none;
	display: block;
}

.food-menu .item a:hover 
{ 
	color: #fff;
	background: rgba(188, 130, 29, 0.7); 	
}

.food-menu .item.swiper-slide-active a
{
	color: #fff;
	background-color: #bc821d;
}

.food-menu .item:not(.swiper-slide-active) .menu-item { display: none; }
.food-menu .item.swiper-slide-active .menu-item { position: relative; }

.food-menu .add-to-cart { margin-top: 15px; }

.title
{
    border-bottom: 1px dashed #707070;
    text-align: left;
    padding-left: 1em;
    margin-bottom: 1em;
}

.price
{
    font-size: 0.9em;
    font-weight: bold;
    color: #ffa61a;
    text-align: right;
    float: right;
    text-align: right;
}

.menu-item { margin-top:2.5em }
.menu-item p { text-align: justify; }

.item-quantity{ max-width: 120px; }
.item-quantity input {  text-align: center; }
.item-quantity span { cursor: pointer; }

.swiper-pagination { margin-top: 5em; }

.swiper-pagination-bullet 
{
    width: 12px;
    height: 12px;
}

@media screen and (min-width: 993px)
{
	.food-menu .item.swiper-slide-active .menu-item
	{
		width: 200%;
   		left: -50%;  
	}
}

@media screen and (min-width: 768px) and (max-width: 992px)
{
	.food-menu .item.swiper-slide-active .menu-item
	{
		width: 250%;
	    left: -75%;	    
	}
}

@media screen and (max-width: 767px)
{
	.title h3
	{
		font-size: 14px;
		font-weight: bold;
	}

	.food-menu .item.swiper-slide-active .menu-item
	{
		width: 300%;
	    left: -100%;	    
	}
}

@media screen and (max-width:500px)
{
	.food-menu .item a
	{		
		font-size: 1em;
		padding: 0.1em 0.2em;		
	} 
}