.food-menu
{
	margin-top: 3em;
	text-align: center;
}

.food-menu .item a
{
	background-color: #fff;
	color: #bc821d;
	font-size: 1.3em;
	padding: 0.5em 1.5em;
	border: 1px solid #bc821d;
	text-decoration: none;
	display: block;
}

.food-menu .item a:hover,
.food-menu .item.active a
{
	color: #fff;
	background-color: #bc821d;
}

.food-menu .item:not(.active) .menu-item { display: none; }

.food-menu .item.active .menu-item
{
	width: 200%;
    left: -50%;
    position: relative;
}

h3.title
{
    border-bottom: 1px dashed #707070;
    padding-bottom: 0.5em;
}

.price
{
    font-size: 1.2em;
    font-weight: bold;
    color: #ffa61a;
    text-align: right;
}

.menu-item { margin-top:2.5em }
.menu-item p { text-align: justify; }

.item-quantity{ max-width: 120px; }
.item-quantity input {  text-align: center; }
.item-quantity span { cursor: pointer; }

.swiper-pagination { margin-top: 5em; }

.swiper-pagination-bullet 
{
    width: 12px;
    height: 12px;
}

@media screen and (max-width:767px)
{
	.menu-item
	{
        margin-bottom: 7em;       
	}   
}

@media screen and (max-width:500px)
{
	.food-menu .item a
	{		
		font-size: 1em;
		padding: 0.1em 0.2em;		
	} 
}