<% @page_title =  @product.name + " - Edição"%>

<div class="container">
	<div class="page-header" align="center">
	    <h1>Gerenciamento de produtos<br><small>Edite detalhes do produto</small></h1>
	</div>

	<p id="notice"><%= notice %></p>

	<%= render 'form', product: @product %>

</div>
