<% @page_title =  "Cadastro" %>

<div class="container">
	<div class="page-header" align="center">
	    <h1>Gerenciamento de produtos<br><small>Cadastre o produto</small></h1>
	</div>
<%= render 'form', product: @product %>

</div>
